
@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>

<h4>
    <a asp-action="Tournaments"><br />Manage Tournaments</a>
    <a asp-action="Matches"><br />Manage Matches</a>
    <a asp-action="Games"><br />Manage Games</a>
    <a asp-action="Schools"><br />Manage Schools</a>
    
</h4>

