@model PlayerViewModel
@{
    ViewData["Title"] = Model.cop.ToString();
    ViewData.AddActivePage(ManageNavPages.Player);
}

@if (Model.cop != CIS_560_Final_Project.Entities.CoachOrPlayer.Member)
{
<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID"></label>
                <input asp-for="ID" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" enabled />
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" enabled />
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth"></label>
                <input asp-for="DateOfBirth" class="form-control" enabled />
            </div>
            <div class="form-group">
                <label asp-for="Joined"></label>
                <input asp-for="Joined" class="form-control" disabled />
            </div>
            @if (Model.cop == CIS_560_Final_Project.Entities.CoachOrPlayer.Coach)
            {
                <div class="checkbox">
                    <label><input asp-for="IsManager" class="checkbox" enabled />Team Manager</label>
                </div>
                <div class="form-group">
                    <label asp-for="YearsCoaching"></label>
                    <input asp-for="YearsCoaching" class="form-control" disabled />
                </div>
            }
            @if (Model.cop == CIS_560_Final_Project.Entities.CoachOrPlayer.Player)
            {
            <div class="form-group">
                <label asp-for="IGN"></label>
                <input asp-for="IGN" class="form-control" enabled />
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" enabled />
            </div>
            }
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>
}
@if (Model.cop == CIS_560_Final_Project.Entities.CoachOrPlayer.Member)
{
    <h4>Are you a...</h4>
    <div>
        <form asp-action="SelectRole" asp-route-id="0">
            <input type="submit" value="Player" class="btn btn-default" />
        </form>
        <form asp-action="SelectRole" asp-route-id="1">
            <input type="submit" value="Coach" class="btn btn-default" />
        </form>
    </div>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
