@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>

<p style="font-size:250%;"> E-Sports Collegiate League. E-sports (or electronic sports) is a new wave of competitive athletics located in cyberspace with players battling it out in various video games to claim glory and fame. As the e-sports scene becomes more competitive, with better players and prize pools rising exponentially,.</p>
