@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Feel free to contact our support with any questions or suggestions";

}
<h2>@ViewData["Title"]</h2>
<p></p>
<h3>@ViewData["Message"]</h3>

<address>
    E-Sports League
    55 Anderson Rd
    Manhattan, KS 66502
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@ourwebsite.com">Support@example.com</a><br />
</address>
